body{background-image:linear-gradient(#012050,#02bded);
      }
        h1{font-family:palatino;
            color:white;
            font-size: 80px;
            font-weight:bold;
            letter-spacing:5px;
            text-align:center;
            margin: 140px;
            margin-top: 40px;
            margin-bottom: 0px;
            padding: 75px;
            background-color:darkviolet;
            border-style: ridge;
            border-width: 5px;
            border-color: black;
            border-radius: 5px;
        }
        h2{font-family:palatino;
            color:#e3e3ff;
            font-size:25px;
            line-height: 35px;
            font-weight:normal;
            margin: 170px;
            margin-top:0px;
            margin-bottom:0px;
            text-align: justify;
        }
a:link{
    background-color:#ec9ce4;
    color:white;
    padding: 14px 25px;
    text-align: center;
    font-size:40px;
    text-decoration: none;
    display: inline-block;
    border-style: ridge;
    border-width: 5px;
    border-color: black;
      border-radius: 5px;
}
a:visited{
    background-color:#b63959;
    color:gainsboro;
    padding:14px 25px;
    text-align:center;
    font-size:40px;
    text-decoration:none;
    display: inline-block;
                border-style: ridge;
            border-width: 5px;
            border-color: black;
            border-radius: 5px;
}
a:hover{
    background-color:#f9bc57;
    color:#012050;
    padding: 14px 25 px;
    text-align: center;
    font-size:40px;
    text-decoration:none;
    display: inline-block;
            border-style: ridge;
            border-width: 5px;
            border-color: black;
            border-radius: 5px;
}
a:active{
    background-color:red;
    color:#230745;
}
        img{
            display:block;
            margin-left:auto;
            margin-right:auto;
            border-style: ridge;
            border-width: 5px;
            border-color: black;
            border-radius: 5px;
                        border-style: ridge;
            border-width: 5px;
            border-color: black;
            border-radius: 5px;
        }